
<div class="wizard-schema-description">
    <p>Universell utforming av byggverk</p>
    <p>......</p>
</div>

<div class="wizard-schema-section">


    <!-- Text input-->
    <div class="control-group">
        <label class="control-label" for="brtArealPrEtasje">Lengde på korridoren eller svalgang</label>
        <p></p>
        <div class="controls">
            <input v-model.number="variables.brtArealPrEtasje.value" id="brtArealPrEtasje" name="brtArealPrEtasje" type="number" placeholder="Areal" />
        </div>
    </div>
</div>


