
<div class="wizard-schema-description">
    <p>Universell utforming av byggverk</p>
    <p>......</p>
</div>

<div class="wizard-schema-section">

    
    <!-- Select Basic -->
    <div class="control-group">
        <label class="control-label" for="typeVirksomhet">Type virksomhet</label>
        <div class="controls">
            <div class="select-wrapper">
                <select v-model="variables.typeVirksomhet.value" id="typeVirksomhet" name="typeVirksomhet">
                    <option />
                    <option>Flyhangar</option>
                    <option>Kontor</option>
                    <option>Barnehage</option>
                    <option>Bolig</option>
                    <option>Kinolokale</option>
                    <option>Sykehus</option>
                </select>
            </div>
        </div>
    </div>
</div>


