
@{
    ViewBag.Title = "brann";
}

<div id="vue-brann">
    <div class="wizard-container">

        <div>
            <nav class="wizard-sidebar">
                <div class="wizard-sidebar-header">Kapittel 11 sikkerhet ved brann</div>
                <div v-on:click="selectedSchemaType = schemaType" class="wizard-sidebar-item" v-bind:class="{active: selectedSchemaType && selectedSchemaType.key == schemaType.key}" v-for="(schemaType) in schemaTypes">
                    <div>{{ schemaType.number }}</div>
                    <p>{{ schemaType.name }}</p>
                </div>
                <button class="linkbutton" v-on:click="saveResultsToLocalStorage()">Vis resultat</button>
                <button class="linkbutton linkbutton-secondary">Start på nytt</button>
            </nav>
        </div>
        <main v-if="selectedSchemaType" class="wizard-schema">
            <h1 class="wizard-schema-title">{{ selectedSchemaType.name }}</h1>
            <div v-show="selectedSchemaType.key == '1'">
                @Html.Partial("Brann/_Risikoklasse")
            </div>
            <div v-show="selectedSchemaType.key == '2'">
                @Html.Partial("Brann/_Brannklasse")
            </div>
            <div v-show="selectedSchemaType.key == '3'">
                @Html.Partial("Brann/_Brannspredning")
            </div>
            <div class="wizard-navigation-buttons">
                <button v-if="getPreviousSchemaType()" v-on:click="setSelectedSchemaType(getPreviousSchemaType())" class="linkbutton wizard-navigation-button wizard-navigation-button-previous">Forrige</button>
                <button v-if="getNextSchemaType()" v-on:click="setSelectedSchemaType(getNextSchemaType())" class="linkbutton wizard-navigation-button wizard-navigation-button-next">Neste</button>
                <button v-if="!getNextSchemaType()" class="linkbutton wizard-navigation-button" v-on:click="saveResultsToLocalStorage()">Vis resultat</button>
            </div>
            <div v-if="getNextSchemaType()" class="wizard-navigation-buttons flex-end">
                <button class="linkbutton wizard-navigation-button" v-on:click="saveResultsToLocalStorage()">Vis resultat</button>
            </div>
            <div class="vertical-spacer-50"></div>
        </main>
    </div>
</div>




@section scripts{
    <script src="/Scripts/brann.js"></script>
}