
@{
    ViewBag.Title = "TEK 17";
}

<h2>DigiTEK - Veiviser for preaksepterte ytelser i Byggteknisk forskrift (TEK17)</h2>

<p><a href="https://dibk.no/byggereglene/byggteknisk-forskrift-tek17/">Forskrift om tekniske krav til byggverk</a> trekker opp grensen for det minimum av egenskaper et byggverk må ha for å kunne oppføres lovlig i Norge.</p>

<p>
    Veiledningen forklarer forskriftens krav og gir preaksepterte ytelser som vil oppfylle kravene.
</p>
<p>
    Forskriften gir funksjonskrav, men i mange tilfeller er funksjonskravene også fortolket og gitt som ytelseskrav i forskriften. Dette gjelder for eksempel krav knyttet til tilgjengelig boenhet. Andre funksjonskrav er fortolket og gitt som preaksepterte ytelser i veiledningen. Dette gjelder for eksempel i stor grad for sikkerhet ved brann.
</p>

<p>
    Introduksjon til ...<br>
    <a class="button-small linkbutton" href='@Url.Action("brann", "Home")' type="button" >Start veiviser for Kapittel 11 sikkerhet ved brann</a>
</p>

<p>
    Introduksjon til ...<br>
    <a class="button-small linkbutton" href='@Url.Action("brann", "Home")' type="button">Start veiviser for Kapittel 12 universell utforming av byggverk</a>
</p>



