<div class="wizard-schema-description">
    <p>Vurdering av konsekvens av brann for liv, helse, miljø og samfunnsmessige interesser</p>
</div>
<div class="wizard-schema-section">
    <!-- Select Basic -->
    <div class="control-group">
        <label class="control-label" for="konsekvensAvBrann">Konsekvens av brann</label>
        <p>Klassfisering av bygg etter konsekvens av brann. Hvis konsekvens ikke velges vil brannklasse bli satt etter verdi i parametrene nedenfor</p>
        <div class="controls">
            <div class="select-wrapper">
                <select id="konsekvensAvBrann" v-model="variables.konsekvensAvBrann.value" name="konsekvensAvBrann">
                    <option />
                    <option>Liten konsekvens</option>
                    <option>Middels konsekvens</option>
                    <option>Stor konsekvens</option>
                    <option>Saerlig stor konsekvens</option>
                </select>
            </div>
        </div>
    </div>
</div>
<p>Parametrene herunder brukes til brannklassifisering, hvis det mangler, men også til utledning av andre preaksepterte ytelser. De må legges inn.</p>

<div class="wizard-schema-section">

    <!-- Text input-->
    <div class="control-group">
        <label class="control-label" for="antallEtasjer">Hvor mange etasjer har byggverket?</label>
        <p></p>
        <div class="controls">
            <input v-model.number="variables.antallEtasjer.value" type="number" id="antallEtasjer" name="antallEtasjer" placeholder="Antall" />
        </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
        <label class="control-label" for="brtArealPrEtasje">Hva er brutto areal(BRA) per etasje i m2?</label>
        <p></p>
        <div class="controls">
            <input v-model.number="variables.brtArealPrEtasje.value" id="brtArealPrEtasje" name="brtArealPrEtasje" type="number" placeholder="Areal" />
        </div>
    </div>
</div>
<div class="wizard-schema-section">

    <!-- Multiple Radios -->
    <div class="control-group">
        <label class="control-label" for="utgangTerrengAlleBoenheter">Har alle boenheter utgang til terreng?</label>
        <p></p>
        <div class="controls">
            <input type="radio" v-model="variables.utgangTerrengAlleBoenheter.value" name="utgangTerrengAlleBoenheter" id="utgangTerrengAlleBoenheter-null" value="" checked="checked" />
            <label class="radio" for="utgangTerrengAlleBoenheter-null">Vet ikke</label>

            <input type="radio" v-model="variables.utgangTerrengAlleBoenheter.value" name="utgangTerrengAlleBoenheter" id="utgangTerrengAlleBoenheter-true" value="true" />
            <label class="radio" for="utgangTerrengAlleBoenheter-true">Ja</label>

            <input type="radio" v-model="variables.utgangTerrengAlleBoenheter.value" name="utgangTerrengAlleBoenheter" id="utgangTerrengAlleBoenheter-false" value="false" />
            <label class="radio" for="utgangTerrengAlleBoenheter-false">Nei</label>
        </div>
    </div>

</div>
