<div class="wizard-schema-description">
    <p>Klassfisering av bygg etter konsekvens av brann for</p>
</div>
<div class="wizard-schema-section">
    <!-- Select Basic -->
    <div class="control-group">
        <label class="control-label" for="konsekvensAvBrann">Konsekvens av brann</label>
        <div class="controls">
            <div class="select-wrapper">
                <select id="konsekvensAvBrann" v-model="variables.konsekvensAvBrann.value" name="konsekvensAvBrann">
                    <option />
                    <option>Liten konsekvens</option>
                    <option>Middels konsekvens</option>
                    <option>Stor konsekvens</option>
                    <option>Saerlig stor konsekvens</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="wizard-schema-section">
    <!-- Select Basic -->
    <div class="control-group">
        <label class="control-label" for="typeVirksomhet">Type virksomhet</label>
        <div class="controls">
            <div class="select-wrapper">
                <select v-model="variables.typeVirksomhet.value" id="typeVirksomhet" name="typeVirksomhet">
                    <option />
                    <option>Flyhangar</option>
                    <option>Kontor</option>
                    <option>Barnehage</option>
                    <option>Bolig</option>
                    <option>Kinolokale</option>
                    <option>Sykehus</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
        <label class="control-label" for="antallEtasjer">Antall etasjer</label>
        <div class="controls">
            <input v-model.number="variables.antallEtasjer.value" type="number" id="antallEtasjer" name="antallEtasjer" placeholder="Antall" />
        </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
        <label class="control-label" for="brtArealPrEtasje">Brutto areal per etasje</label>
        <div class="controls">
            <input v-model.number="variables.brtArealPrEtasje.value" id="brtArealPrEtasje" name="brtArealPrEtasje" type="number" placeholder="Areal" />
        </div>
    </div>


    <!-- Multiple Radios -->
    <div class="control-group">
        <label class="control-label" for="utgangTerrengAlleBoenheter">Utgang terrreng alle boenheter</label>
        <div class="controls">
            <input type="radio" v-model="variables.utgangTerrengAlleBoenheter.value" name="utgangTerrengAlleBoenheter" id="utgangTerrengAlleBoenheter-null" value="" checked="checked" />
            <label class="radio" for="utgangTerrengAlleBoenheter-null">null</label>

            <input type="radio" v-model="variables.utgangTerrengAlleBoenheter.value" name="utgangTerrengAlleBoenheter" id="utgangTerrengAlleBoenheter-true" value="true" />
            <label class="radio" for="utgangTerrengAlleBoenheter-true">true</label>

            <input type="radio" v-model="variables.utgangTerrengAlleBoenheter.value" name="utgangTerrengAlleBoenheter" id="utgangTerrengAlleBoenheter-false" value="false" />
            <label class="radio" for="utgangTerrengAlleBoenheter-false">false</label>
        </div>
    </div>

</div>
