
<div class="wizard-schema-description">
    <p>Angi virksomhetstype, hvis den er kjent. For en del virksomhetstyper er det predefinert risikoklasse. Er typen ukjent/uklar så kan risikoklasse utledes av andre parametre; velg da "Nei". Vet ikke/kan ikke svare tillater å gå videre til brannklassifisering.</p>
</div>

<div class="wizard-schema-section">
    <!-- Multiple Radios (inline) -->
    <div class="control-group">
        <label class="control-label" for="hvilkeVirksomhetstype">Vet du hvilke virksomhetstype som gjelder for prosjektet?</label>
        <div class="controls">

            <input type="radio" v-model="hvilkeVirksomhetstype" name="hvilkeVirksomhetstype" id="hvilkeVirksomhetstype-null" value="null" checked="checked">
            <label class="radio" for="hvilkeVirksomhetstype-null">
                Vet ikke/kan ikke svare
            </label>
            <input type="radio" v-model="hvilkeVirksomhetstype" name="hvilkeVirksomhetstype" id="hvilkeVirksomhetstype-true" value="true">
            <label class="radio" for="hvilkeVirksomhetstype-true">
                Ja. Velg virksomhetstype fra nedtrekkslisten som vises
            </label>
            <input type="radio" v-model="hvilkeVirksomhetstype" name="hvilkeVirksomhetstype" id="hvilkeVirksomhetstype-false" value="false">
            <label class="radio" for="hvilkeVirksomhetstype-false">
                Nei. Fyll inn andre parametre for å sette risikoklasse
            </label>
        </div>
    </div>

</div>
<div v-show="hvilkeVirksomhetstype == 'true'" class="wizard-schema-section">
    <div>
        <!-- Select Basic -->
        <label class="control-label" for="typeVirksomhet">Type virksomhet</label>
        <div class="controls">
            <div class="select-wrapper">
                <select v-model="variables.typeVirksomhet.value" id="typeVirksomhet" name="typeVirksomhet">
                    <option />
                    <option>Flyhangar</option>
                    <option>Kontor</option>
                    <option>Barnehage</option>
                    <option>Bolig</option>
                    <option>Kinolokale</option>
                    <option>Sykehus</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div v-show="hvilkeVirksomhetstype == 'false'"  class="wizard-schema-section">
    <!-- Multiple Radios -->
    <div class="control-group">
        <label class="control-label" for="bareSporadiskPersonopphold">Kun sporadisk personopphold?</label>
        <p>Bygg der personer av og til oppholder seg</p>
        <div class="controls">
            <input type="radio" v-model="variables.bareSporadiskPersonopphold.value" name="bareSporadiskPersonopphold" id="bareSporadiskPersonopphold-null" value="" checked="checked" />
            <label class="radio" for="bareSporadiskPersonopphold-null">Vet ikke</label>

            <input type="radio" v-model="variables.bareSporadiskPersonopphold.value" name="bareSporadiskPersonopphold" id="bareSporadiskPersonopphold-true" value="true" />
            <label class="radio" for="bareSporadiskPersonopphold-true">Ja</label>

            <input type="radio" v-model="variables.bareSporadiskPersonopphold.value" name="bareSporadiskPersonopphold" id="bareSporadiskPersonopphold-false" value="false" />
            <label class="radio" for="bareSporadiskPersonopphold-false">Nei</label>

            <input type="radio" v-model="variables.bareSporadiskPersonopphold.value" name="bareSporadiskPersonopphold" id="bareSporadiskPersonopphold-both" value="begge" />
            <label class="radio" for="bareSporadiskPersonopphold-both">Både og</label>
        </div>
    </div>
</div>

<div v-show="hvilkeVirksomhetstype == 'false'" class="wizard-schema-section">
    <!-- Multiple Radios -->
    <div class="control-group">
        <label class="control-label" for="alleKjennerRomningsVeiene">Er evakuering kjent?</label>
        <p>Alle i bygg kjenner rømningsforhold og kan bringe seg selv i sikkerhet.</p>
        <div class="controls">
            <input type="radio" v-model="variables.alleKjennerRomningsVeiene.value" name="alleKjennerRomningsVeiene" id="alleKjennerRomningsVeiene-null" value="" checked="checked" />
            <label class="radio" for="alleKjennerRomningsVeiene-null">Vet ikke</label>

            <input type="radio" v-model="variables.alleKjennerRomningsVeiene.value" name="alleKjennerRomningsVeiene" id="alleKjennerRomningsVeiene-true" value="true" />
            <label class="radio" for="alleKjennerRomningsVeiene-true">Ja</label>

            <input type="radio" v-model="variables.alleKjennerRomningsVeiene.value" name="alleKjennerRomningsVeiene" id="alleKjennerRomningsVeiene-false" value="false" />
            <label class="radio" for="alleKjennerRomningsVeiene-false">Nei</label>
        </div>
    </div>
</div>

<div v-show="hvilkeVirksomhetstype == 'false'" class="wizard-schema-section">
    <!-- Multiple Radios -->
    <div class="control-group">
        <label class="control-label" for="beregnetForOvernatting">Er beregnet for overnatting?</label>
        <p>Bygg er beregnet for overnatting</p>
        <div class="controls">
            <input type="radio" v-model="variables.beregnetForOvernatting.value" name="beregnetForOvernatting" id="beregnetForOvernatting-null" value="" />
            <label class="radio" for="beregnetForOvernatting-null">Vet ikke</label>

            <input type="radio" v-model="variables.beregnetForOvernatting.value" name="beregnetForOvernatting" id="beregnetForOvernatting-true" value="true" />
            <label class="radio" for="beregnetForOvernatting-true">Ja</label>

            <input type="radio" v-model="variables.beregnetForOvernatting.value" name="beregnetForOvernatting" id="beregnetForOvernatting-false" value="false" />
            <label class="radio" for="beregnetForOvernatting-false">Nei</label>
        </div>
    </div>
</div>

<div v-show="hvilkeVirksomhetstype == 'false'" class="wizard-schema-section">
    <!-- Multiple Radios -->
    <div class="control-group">
        <label class="control-label" for="liteBrannfarligAktivitet">Bruk medfører liten brannfare?</label>
        <p>Forutsatt bruk av bygg medfører liten brannfare</p>
        <div class="controls">
            <input type="radio" v-model="variables.liteBrannfarligAktivitet.value" name="liteBrannfarligAktivitet" id="liteBrannfarligAktivitet-null" value="" checked="checked" />
            <label class="radio" for="liteBrannfarligAktivitet-null">Vet ikke</label>

            <input type="radio" v-model="variables.liteBrannfarligAktivitet.value" name="liteBrannfarligAktivitet" id="liteBrannfarligAktivitet-true" value="true" />
            <label class="radio" for="liteBrannfarligAktivitet-true">Ja</label>

            <input type="radio" v-model="variables.liteBrannfarligAktivitet.value" name="liteBrannfarligAktivitet" id="liteBrannfarligAktivitet-false" value="false" />
            <label class="radio" for="liteBrannfarligAktivitet-false">Nei</label>
        </div>
    </div>
</div>
